.detail {
  padding: 0 0.4em;
}

.description {
  white-space: pre-wrap;
}

/* more */
.videoPlayer {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}

iframe {
  position: absolute;
  top: 0.2em;
  left: 0;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}
